<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">



<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5434/db_salary</property>
        <property name="hibernate.connection.username">db_salary</property>
        <property name="hibernate.connection.password">salary</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <mapping class="org.dbs.business.Person" />
        <mapping class="org.dbs.business.Role" />
        <mapping class="org.dbs.business.Employee" />
    </session-factory>
</hibernate-configuration>